#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 2rem;
  /* text-align: center; */
  /* border: 3px solid red; */
  padding-bottom: 5rem;
  background-color: rgb(197, 228, 231);
  height: auto;
}

.Application{
  /* border: 3px solid green; */
  margin: 4% auto;
  width: 55%;
  display: flex;
  flex-direction: column;
}

.Application img{
  margin-bottom: 8vh;
  align-self: center;
}

.App{
  /* border: 3px solid; */
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem
}

@media screen and (max-width: 480px) {
  #root{
    padding: 0;
  }

  .Application{
    width: 100%;
    padding-top: 3rem;
  }
  .Application img{
    margin-bottom: 3rem;
  }
  .App{
    border-radius: 20px;
    flex-direction: column;
    padding: 1rem;
  }
}